* {
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
}

body {
  background: linear-gradient(#696d6e);
}

.aside-direito a {
  font-size: 2em;
  align-items: center;
  justify-content: center;
}

.conteiner {
  grid-template-columns: 1fr 1fr;
  display: grid;
  height: 100vh;
  align-content: center;
  background-color: #08272f;
  justify-content: center;

  padding: 20px;

  min-height: 50rem;
  min-width: 10rem;
}

button {
  border-radius: 10px;
  margin: 8px;
  background: none;
  color: aqua;
}

.aside-esquerda a {
  border-radius: 10px;
  background-color: #08272f;
  text-decoration: none;
  color: aquamarine;
  font-size: 2em;
}

.aside-esquerda {
  margin: 20px;
  justify-content: center;
  min-height: 20em;
  background-color: #040c0e;
  border-radius: 30px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aquamarine;
  text-decoration: none;
}

.aside-direito p {
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.aside-direito {
  border-radius: 20px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #040c0e;
  color: aquamarine;
  text-decoration: none;
}

.aside-direito button {
  padding: 10px;
  border-radius: 20px;
}
